#calculator {
    background-color: black;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #display {
    background-color: white;
    width: auto;
    height: 75px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }

  
  #number-div {
    display: grid;
    grid-template-columns: auto auto auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
  
  .number {
    display: inline-grid;
  }
  
  
  
  